/* //Hero Section// */
.hero {
  background-color: #282c34;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid #503746;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
}

.hero h1 {
  font-size: 3em;
  z-index: 10;
  position: relative;
  margin: 0;
}

.hero h2 {
  font-size: 1.5em;
  z-index: 10;
  position: relative;
  color: #d3b88c;
}

/* //About Section// */

.about {
  background-color: #1c1f24; 
  color: #d3b88c;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid #503746;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  position: relative;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s; 
}

.about.light-mode {
  background-color: #f4f4f4; 
  color: #1c1f24; 
  border-color: #d3b88c; 
}

.about img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  border: #d3b88c 4px solid;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.about img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #d3b88c, 0 0 30px #503746;
}

.about-text h3 {
  font-size: 2.2em;
  margin: 0 0 15px 0;
  font-family: "cormorant", serif;
  color: #d3b88c;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-text h4 {
  font-size: 1.5em;
  color: #a58e7b;
  margin: 0 0 25px 0;
  font-family: "cormorant", serif;
}

.about-text p {
  font-size: 1.1em;
  line-height: 1.8;
  max-width: 600px;
  color: #e0c4a8;
  font-family: "cormorant", serif;
}

.about button {
  background-color: #64485c;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.about button a {
  color: white;
  text-decoration: none;
}

.about button:visited a {
  color: white;
}

.about button:active {
  background-color: #503746;
  transform: translateY(0);
}

.about button a:visited {
  color: white;
}

.about button:hover {
  background-color: #503746;
  transform: translateY(-3px);
}

.about button:hover a {
  color: white;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
  }

  .about img {
    margin-bottom: 20px;
  }

  .about-text {
    text-align: center;
  }
}

.about.light-mode {
  background-color: #ffffff;
  color: #333; 
}

/* // recent works // */

.highlights {
  text-align: center;
  color: #fff;
  background-color: #282c34;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid #503746;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.highlights h5 {
  font-size: 2em;
  color: #d3b88c;
}

.highlights.light-mode {
  background-color: #f9f9f9; 
  color: #333;
}

/* Recent Works Carousel */
.carousel {
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  display: none;
}

.carousel-item.active {
  opacity: 1;
  display: block;
}

.carousel img {
  width: 60%;
  height: auto;
}

.description {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: #d3b88c9a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 50px 20px;
  width: 90%;
  height: 10%;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.3rem;
  text-align: center;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button.prev1,
button.next1 {
  background-color: #64485c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

.highlights button a {
  color: white;
  text-decoration: none;
}

.highlights button a:visited {
  color: white;
}

.view-all button a:visited {
  color: white;
}


button:hover {
  background-color: #503746;
}

@media (max-width: 768px) {
  .highlights {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .description {
    font-size: 1.1rem;
    width: 90%;
    color: #000;
  }
}

/* //Services Section // */

.serviceshome {
  text-align: center;
  color: #fff;
  background-color: #282c34;
  padding: 80px 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid #503746;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.serviceshome h5 {
  font-size: 2.5em;
  color: #d3b88c;
  margin-bottom: 30px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-item {
  background-color: #333;
  color: #d3b88c;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.service-item img {
  width: 50px;
  height: auto;
  margin-bottom: 15px;
}

.service-item h6 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.serviceshome button {
  background-color: #64485c;
  color: #ffffff;
  border: none;
  padding: 20px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.serviceshome button:hover {
  background-color: #503746;
}
.serviceshome button a:visited {
  color: white;
}

@media (max-width: 768px) {
  .service-list {
    flex-direction: column;
    align-items: center;
  }

  .service-item {
    width: 100%;
    max-width: 300px;
  }
}

/* // ABOUT - PAGE // */
.about-page {
  background: none;
  color: #d3b88c;
  padding: 80px 20px;
  text-align: center;
}

.about-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(28, 28, 28, 0.8);
  border: 2px solid #503746;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.about-container h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  color: #d3b88c;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.about-container p {
  font-family: "Crimson Text", serif;
  font-size: 1.2em;
  line-height: 1.8;
  color: #e0c4a8;
  margin-bottom: 20px;
}

.about-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #d3b88c;
  box-shadow: 0 0 20px rgba(211, 184, 140, 0.5);
  margin-bottom: 20px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.about-img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #d3b88c;
}

button {
  background-color: #64485c;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

button:hover {
  background-color: #503746;
  transform: translateY(-3px);
}

button a:visited {
  color: white;
}

.social-links {
  background-color: rgba(28, 28, 28, 0.8);
  color: #d3b88c;
  padding: 60px 20px;
  text-align: center;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  margin-bottom: 100px;
}

.social-links h3 {
  font-family: "Playfair Display", serif;
  font-size: 2.2em;
  color: #d3b88c;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 220px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.social-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.social-item img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.social-item p {
  font-family: "Crimson Text", serif;
  font-size: 1.1em;
  color: #e0c4a8;
}

a {
  text-decoration: none;
}

a:hover p {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .social-list {
    flex-direction: column;
  }

  .social-item {
    width: 100%;
    max-width: 300px;
  }
}

/* Resume Section */
.resume-section {
  background-color: #1c1f24;
  color: #d3b88c;
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.resume-section h3 {
  font-size: 2em;
  font-family: "cormorant", serif;
}

.resume-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #e0c4a8;
}

.resume-section button {
  background-color: #64485c;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.resume-section button:hover {
  background-color: #503746;
  transform: translateY(-3px);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: #282c34;
  color: #d3b88c;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.modal-content h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.modal-content iframe {
  border: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.close:hover {
  color: #d3b88c;
}

.download-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #64485c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #503746;
}

/* // Projects // */

.projects {
  background-color: #1c1c1cee;
  color: #d3b88c;
  padding: 80px 20px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: #1c1f24 0 0 20px;
}

.projects h2 {
  font-family: "cormorant", serif;
  font-size: 2.5em;
  margin-bottom: 50px;
  color: #d3b88c;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.project-sections {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.project-card {
  background-color: #333333f5;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  min-height: 300px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
}

.project-card img {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.project-card h3 {
  font-size: 1.5em;
  font-family: "Crimson Text", serif;
  margin-bottom: 15px;
  color: #d3b88c;
}

.project-card p {
  font-size: 1.1em;
  color: #e0c4a8;
  line-height: 1.6;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.project-link:visited {
  color: inherit;
}


@media (max-width: 768px) {
  .projects {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 80px 5px;
  }
  .project-sections {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 100%;
    max-width: 350px;
  }
}

/* //WebDevelopment// */

.web-dev-portfolio {
  background-color: #1c1c1cc5;
  color: #d3b88c;
  padding: 60px 20px;
  text-align: center;
  font-family: "cormorant", serif;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: #1c1f24 0 0 20px;
}

.web-dev-portfolio h2 {
  font-family: "cormorant", serif;
  font-size: 2.5em;
  margin-bottom: 50px;
  color: #d3b88c;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.web-dev-portfolio p {
  font-size: 1.1em;
  color: #e0c4a8;
  line-height: 1.6;
  font-family: "cormorant", serif;
  padding-bottom: 20px;
  font-style: italic;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  justify-items: center;
}

.project-card-wd .web-dev-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.project-card-wd .web-dev-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.project-card-wd .web-dev-carousel img.active {
  opacity: 1;
}

.project-card-wd h3 {
  font-size: 1.5em;
  margin: 15px 0;
  font-family: "Playfair Display", serif;
}

.project-card-wd p {
  font-size: 1.1em;
  color: #e0c4a8;
  line-height: 1.6;
}

.project-card-wd h3 a {
  color: #d3b88c;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.project-card-wd h3 a:hover {
  text-decoration: underline;
}

.project-card-wd h3 a:visited {
  color: #d3b88c;
}
.project-card-wd {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  max-width: 500px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-wd .web-dev-carousel {
  height: 300px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 50px;
}

.modal-content {
  margin: auto;
  display: block;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #d3b88c;
}

/* Next & Previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .project-card-wd {
    max-width: 100%;
  }

  .project-card-wd .carousel {
    height: 200px;
  }
}

/* //Graphic Design // */

.graph-design-portfolio {
  background-color: #1c1c1ce0;
  color: #d3b88c;
  padding: 60px 20px;
  text-align: center;
  font-family: "cormorant", serif;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: #1c1f24 0 0 20px;
}

.graph-design-portfolio h2 {
  font-family: "cormorant", serif;
  font-size: 2.5em;
  margin-bottom: 50px;
  color: #d3b88c;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.graph-design-portfolio p {
  font-size: 1.1em;
  color: #e0c4a8;
  line-height: 1.6;
  font-family: "cormorant", serif;
  padding: 50px;
  margin-bottom: 40px;
  font-style: italic;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 2%;
}

.project-card-gd .web-dev-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.project-card-gd .web-dev-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.project-card-gd .web-dev-carousel img.active {
  opacity: 1;
}

.project-card-gd h3 {
  font-size: 1.5em;
  margin: 15px 0;
  font-family: "Playfair Display", serif;
}

.project-card-gd p {
  font-size: 1.1em;
  color: #e0c4a8;
  line-height: 1.6;
}

.project-card-gd h3 a {
  color: #d3b88c;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.project-card-gd h3 a:hover {
  text-decoration: underline;
}

.project-card-gd h3 a:visited {
  color: #d3b88c;
}

.project-card-gd {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  max-width: 500px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-gd .web-dev-carousel {
  height: 300px;
}

/* Responsive layout */
@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* // Digital Art // */

.digital-art-portfolio {
  background-color: #1c1c1cc9;
  color: #d3b88c;
  padding: 60px 20px;
  text-align: center;
  font-family: "cormorant", serif;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: #1c1f24 0 0 20px;
}

.digital-art-portfolio h2 {
  font-family: "cormorant", serif;
  font-size: 2.5em;
  margin-bottom: 50px;
  color: #d3b88c;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.digital-art-portfolio p {
  font-size: 1.1em;
  color: #e0c4a8;
  line-height: 1.6;
  font-family: "cormorant", serif;
  padding-bottom: 20px;
  font-style: italic;
  padding-left: 50px;
  padding-right: 50px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  justify-items: center;
}

.project-card-da .web-dev-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.project-card-da .web-dev-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.project-card-da .web-dev-carousel img.active {
  opacity: 1;
}

.project-card-da h3 {
  font-size: 1.5em;
  margin: 15px 0;
  font-family: "Playfair Display", serif;
}

.project-card-da p {
  font-size: 1.1em;
  color: #e0c4a8;
  line-height: 1.6;
}

.project-card-da h3 a {
  color: #d3b88c;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.project-card-da h3 a:hover {
  text-decoration: underline;
}

.project-card-da h3 a:visited {
  color: #d3b88c;
}
.project-card-da {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  max-width: 500px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card-da .web-dev-carousel {
  height: 300px;
}

.back-button-container {
  margin-top: 40px;
  text-align: center;
}

.back-button {
  background-color: #64485c;
  color: #ffffff;
  border: none;
  padding: 12px 30px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.back-button:hover {
  background-color: #503746;
  transform: translateY(-3px);
}

/* // Services Page // */

.services-intro {
  background-color: #282c34ea;
  padding: 60px 20px;
  margin-bottom: 50px;
  border: 2px solid #503746;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.services-intro h2 {
  font-family: "Cormorant", serif;
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #d3b88c;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.services-intro p {
  font-size: 1.2em;
  color: #e0c4a8;
  line-height: 1.6;
  text-align: center;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
  margin: 0 5%;
  padding-bottom: 50px;
}

.service-item {
  background-color: #333333f6;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  border: 2px solid #503746;
}

.service-item h3 {
  font-size: 1.5em;
  margin: 15px 0;
  font-family: "Cormorant", serif;
  color: #d3b88c;
}

.service-item p {
  font-family: "Cormorant", serif;
  font-size: 1em;
  color: #e0c4a8;
  line-height: 1.6;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.price {
  display: block;
  font-size: 1.5em;
  color: #d3b88c;
  margin-top: 20px;
}

.full-package {
  background-color: #282c34;
  padding: 50px 20px;
  text-align: center;
  border: 2px solid #503746;
  margin: 50px auto;
  max-width: 800px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.full-package h2 {
  font-family: "Cormorant", serif;
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #d3b88c;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.full-package p {
  margin: 20px 0;
}

.contact-button {
  background-color: #64485c;
  color: #ffffff;
  border: none;
  padding: 12px 30px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background-color: #503746;
  transform: translateY(-3px);
}

/* Mobile */
@media (max-width: 768px) {
  .services-list {
    grid-template-columns: 1fr;
  }
}

/* // Contact Page // */

.contact-intro h2,
h3 {
  font-family: "Cormorant", serif;
  color: #d3b88c;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
}

.contact-intro p {
  font-size: 1.2em;
  color: #e0c4a8;
  line-height: 1.6;
  text-align: center;
}

.contact-intro {
  background-color: #282c34;
  padding: 60px 20px;
  border: 2px solid #503746;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
  margin-top: 100px;
}

.contact-details {
  background-color: #1c1f24;
  color: #d3b88c;
  padding: 60px 20px;
  border: 2px solid #503746;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  max-width: 800px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.contact-details h4 {
  font-family: "Cormorant", serif;
  font-size: 2.5em;
  color: #d3b88c;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.contact-details p {
  font-size: 1.3em;
  line-height: 1.8;
  color: #e0c4a8;
  margin-bottom: 40px;
  padding: 20px;
  font-style: italic;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item {
  background-color: #282c34;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  border: 2px solid #503746;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.info-item p {
  font-size: 1.1em;
  color: #e0c4a8;
  margin: 0;
}

.info-item a {
  color: #d3b88c;
  text-decoration: none;
  transition: color 0.3s ease;
}

.info-item a:hover {
  color: #a58e7b;
  text-decoration: underline;
}

.contact-form-section h4 {
  font-family: "Cormorant", serif;
  font-size: 2.5em;
  color: #d3b88c;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.contact-info .info-item:hover {
  background-color: #bba37b65;
  box-shadow: 0 0 20px #503746, 0 0 40px #64485c;
  transform: translateY(-5px);
  transition: all 0.4s ease;
}

/* Responsive styling */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
  }

  .info-item {
    max-width: 100%;
  }
}

.contact-form-section {
  background-color: #21242b;
  padding: 40px 20px;
  border: 2px solid #503746;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  font-size: 1.2em;
  color: #e0c4a8;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #503746;
  border-radius: 5px;
  background-color: #282c34;
  color: #d3b88c;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #d3b88c;
  outline: none;
  box-shadow: 0 0 20px #503746;
}
 

.send-button {
  background-color: #64485c;
  color: #ffffff;
  border: none;
  padding: 12px 30px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.send-button:hover {
  background-color: #503746;
  transform: translateY(-3px);
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.checkbox-group label {
  margin-right: 20px;
  color: #e0c4a8;
  font-size: 1.1em;
}

.contact-form select {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #503746;
  border-radius: 5px;
  background-color: #282c34;
  color: #d3b88c;
}

.contact-form select:focus {
  border-color: #d3b88c;
  outline: none;
  box-shadow: 0 0 20px #503746;
}

/* Responsive styling */
@media (max-width: 768px) {
  .contact-form input,
  .contact-form textarea {
    max-width: 100%;
  }
}
